b{
    background-color: yellow;
    text-decoration: underline;
}
.gray-bg{
    background-color: gray;
    text-decoration: underline;
}
#year{
    color: red;
    font-style: italic;
    font-weight: bold;
}